*{
    list-style: none;
    background-color: rgb(157, 157, 157);
}

/*Código aprendido no flexbox flogy,gap aprendemos em laec 2*/.blocoProdutos {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-between;
}

.blocoProdutos > * {
    flex: 1 1 calc(33.333% - 20px); /*Metódo aprendido no video da rafa balerini*/
    box-sizing: border-box; /*Metódo aprendido no video da rafa balerini*/
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(166, 244, 248);
}

h2{
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

p{
    font-size: 18px;
}
