*{
    list-style: none;
}
.blocoProdutos{
    display: flex;
}

h1{
    align-items: center;
    color: rgb(66, 58, 74);
}

h2{
    align-items: center;
    color: rgb(5, 41, 29);
    font-size: 80%;
}

img{
    width: 80px;
}