*{
    list-style: none;
}
.blocoProdutos{
    flex-direction: row;
    flex-direction:row;
    justify-content: space-around;
    flex-flow: column wrap;
    justify-content:center;
    color:blue;
    font-size:20px;
}

h1{
    align-items: center;
    color: rgb(66, 58, 74);
}

h2{
    align-items: center;
    color: rgb(5, 41, 29);
}

img{
    width: 80px;
}